<launch>
    <arg name="world"
        default="$(find car)/world/package.xml"/>
    <arg name="gui" default="false"/>
    <arg name="model"
        default="$(find car)/urdf/my_car.urdf.xacro"/>
    
    <!-- 載入 URDF -->
    <param name="robot_description"
        textfile="$(arg model)"/>

    <!-- 載入控制器設定 -->
    <rosparam
        file="$(find car)/config/controllers.yaml"
        command="load"/>

    <!-- 生成模型 -->
    <node 
        name="spawn_model" 
        pkg="gazebo_ros" 
        type="spawn_model"
        output="screen"
        args="  -file $(arg model)
                -urdf 
                -model yahboomcar
                -x 0
                -y 0
                -z 0.10" 
        />


    <!-- 生成 Gazebo 模型 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="use_sim_time" value="true"/>
    </include>
    

    <!-- 發布 TF -->
    <node
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"
        output="screen"
        />

    <node
        pkg="controller_manager"
        type="spawner"
        name="controller_spawner"
        output="screen"
        args="
        joint_state_controller
        front_left_steer_controller
        front_right_steer_controller
        back_left_wheel_controller
        back_right_wheel_controller"/>

  

    <node
        pkg="car"
        type="ackermann_odom.py"
        name="ackermann_odom"
        output="screen"
        >

        <param name="wheel_radius" value="0.0325"/>

        <!-- 修改成你的前後輪軸距 -->
        <param name="wheelbase" value="0.23529"/>

        <param
            name="rear_left_joint"
            value="back_left_joint"
        />

        <param
            name="rear_right_joint"
            value="back_right_joint"
        />

        <param
            name="front_left_steer_joint"
            value="front_left_steer_joint"
        />

        <param
            name="front_right_steer_joint"
            value="front_right_steer_joint"
        />

        <param name="odom_frame" value="odom"/>
        <param name="base_frame" value="base_link"/>
        <param name="publish_tf" value="true"/>
        <param name="publish_rate" value="50.0"/>
    </node>

    <node 
        pkg="rviz"
        name="rviz"
        type="rviz"
        args="-d $(find car)/rviz/car1.rviz"
        />

</launch>